
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tag {
  display: inline-block;
  padding: 10px 20px;
  margin: 1px;
  background-color: yellow;
  color: black;
  border-radius: 9px;
  font-weight: bold;
  font-size: 19px;
  white-space: nowrap;
}

main {
  max-width: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.942);
  margin: 20px auto;
  border-radius: 10px;
}
#intro {
  margin-bottom: 20px;
}
#intro img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 10px; /* Center image horizontally and add space below */
  border-radius: 50%; /* Rounded border for image */
  transition: transform 0.3s ease-in-out; /* Smooth transform on hover */
}
#intro img:hover {
  transform: scale(1.069); /* Scale up image on hover */
}
#intro p {
  display: none; /* Hide text initially */
  font-size: 14px;
  color: #666;
}
#intro:hover p {
  display: flex; /* Show text on hover */
}
#links {
  text-align: center; /* Center content horizontally */
}
#links a {
  display: inline-block;
  margin: 0 10px; /* Adjust margin as needed */
  text-decoration: none;
}
#links a img {
  max-width: 24px; /* Adjust as needed */
  height: auto;
  vertical-align: middle; /* Align images vertically */
}
#links a:hover {
  text-decoration: underline;
}
.second-section {
  height: 100vh;
  display: block;
  margin: 20px;
  border-radius: 16px;
  padding: 0px 0px 40px 0px;
}
.sectionser {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 16px;
}
.section-one {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
    width: 100%;
    top: 0;
}
.red{
  background-color: red;
}
#copyImage{
  width: 14px;
    border-radius: 0% !important;
    margin: 8px !important;
}
.centerwe{;
    justify-content: center;
    align-items: center;
}
canvas{
  position: absolute;
  top: 0;
  width: 100%;
}